* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #CAC2B5;
}
#header {
    background-color: #4D243D;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 380px;
    line-height: 300%;

}
.about-me {
    padding: 30px;
    text-align: center;
    background-color: #ECDCC9;
}
.about-me > h3, .about-me > p {
    padding-bottom: 20px;
}
#skills {
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
    padding: 0 20px;
    line-height: 200%;
}
.container {
    padding: 20px;
    background-color: #CAC2B5;
    width: 100%;
    margin: auto;
    
}
.container > h3 {
    line-height: 300%;
    /* text-align: center; */
}

.post {
    padding: 10px 10px 10px 0px;
}
img {
    width: 100%;
    padding-right: 10px;
}
.post-preview > h4 {
    margin-bottom: 10px;
    /* font-size: 14px; */
}
.post-preview > p {
    margin-bottom: 10px;
}
.post-preview > a {
    text-decoration: none;
    color: #4D243D;
}
.post-preview > a:hover {
    color: #1985A1;
}
#contact-me {
    background-color: #ECDCC9;
    width: 100%;
    padding: 20px;
}
#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 25px;
}
#contact-form label{
    line-height: 2.7em;
}

#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ECDCC9;
    font-size: 14px;
}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #4D243D;
    color: #fff;
    font-size: medium;

}

footer {
    background-color: #4D243D;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 76px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 200%;
    position: sticky;
    bottom: 0;

}

@media screen and (min-width: 600px){
    .post {
        display: flex;
    }
    img {
        width: 30vw;
    }
    .container {
        padding: 20px;
        width: 80%;
        margin: auto;
    }
}